  
  <div class="row">
    <div  id="steps" class="col-lg-6">
      <p>
        <span class="label label-default">1</span><h3> Sign up, take a survey</h3>
        Build your profile by answering a few simple questions about your wine preferences.<br/>
        <span class="label label-default">2</span><h3> Get recommendations</h3>
        Get recommendations of wines based on your survey results. Order up to 3 wines per month.</br>
	<span class="label label-default">3</span><h3> Be part of the community</h3>
        Rate wines and share your opinions with other users. 
      </p><br/>
      <center>
	<a class="btn btn-default btn-lg" href="/survey">Take a survey to get started!</a>
      </center>
    </div>
    <div class="col-lg-6">
      <img src="/assets/1main.jpg" class="img-responsive img-rounded" alt="Responsive image">
    </div>
  </div>

