<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Add-ons</h2>
      <hr>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-3">
      <img src="/assets/1survey11.jpg" class="img-responsive img-rounded" alt="Responsive image" style="height:200px; width:200px; margin:auto;"><br/>
      <center><a class="btn btn-default" href="/recipes" style="width: 180px;">Recipes</a></center>
    </div>
    <div class="col-md-3">
      <img src="/assets/1survey12.jpg" class="img-responsive img-rounded" alt="Responsive image" style="height:200px; width:200px; margin:auto;"><br/>
      <center><a class="btn btn-default" href="/facts" style="width: 180px;">Fun facts</a></center>
    </div>
    <div class="col-md-3">
      <img src="/assets/1survey13.jpg" class="img-responsive img-rounded" alt="Responsive image" style="height:200px; width:200px; margin:auto;"><br/>
      <center><a class="btn btn-default" href="/newsletter" style="width: 180px;">Newsletter</a></center>
    </div>
    <div class="col-md-3">
      <img src="/assets/1survey14.jpg" class="img-responsive img-rounded" alt="Responsive image" style="height:200px; width:200px; margin:auto;"><br/>
      <center><a class="btn btn-default" href="/jargon" style="width: 180px;">Jargon</a></center>
    </div>
  </div>
</div>


<!--
 <div style="margin-top:80px"></div>
<table>
	<tr>
	<td>	
		<%= image_tag'recipes.jpg', :alt => 'recipes'%> 
		<img height="250" width="250" />
	</td>
	<td>
		<%= image_tag 'fact.jpg', :alt => 'fact'%> 
		<img height="250" width="250" />
	</td>
	<td>
		<%= image_tag 'news.png', :alt => 'news'%> 
		<img height="250" width="250" />
	</td>
	<td>
		<%= image_tag 'jargon.jpg', :alt => 'jargon'%> 
		<img height="250" width="250" />
	</td>
	
</tr>
	<tr>
		<td>
<form> 
	<input type="button" value="Recipes" style="width: 250px; height:40px; background-color: #330000; color:#ffffbb; font-size:16px; font-weight: bold; margin-left:30px" onclick="window.location.href='/recipes'" 
</form> </td>

<form> <td>
	<input type="button" value="Fun Facts" style="width: 250px; height:40px; background-color: #330000; color:#ffffbb; font-size:16px; font-weight: bold; margin-left:30px" onclick="window.location.href='/facts'" 
</form> </td>

<form> <td>
	<input type="button" value="Newsletter" style="width: 250px; height:40px; background-color: #330000; color:#ffffbb; font-size:16px; font-weight: bold; margin-left:30px" onclick="window.location.href='/newsletter'" 
</form> </td>

<form> <td>
	<input type="button" value="Jargon" style="width: 250px; height:40px; background-color: #330000; color:#ffffbb; font-size:16px; font-weight: bold; margin-left:30px" onclick="window.location.href='/jargon'" 
</form> </td>

</tr>

</table>-->
