  <div class="row" style="padding-bottom: 20px;">
    <div class="col-lg-12">
      <h2>Latest News</h2><div style="float:right;"><a class="btn btn-default" href="/add"><< Back to add-ons</a></div>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <h3>Virginia is the latest hot wine destination</h3>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.<br/>
      <div style="float:right;"><a class="btn btn-default btn-sm" href="http://www.nydailynews.com/life-style/virginia-latest-hot-wine-destination-article-1.1529646">Read more >></a></div>
    </div>
    <div class="col-lg-3">
      <h3>Scratch 'N' Sniff </h3>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</br>
      <div style="float:right;"><a class="btn btn-default btn-sm" href="http://greatwinenews.com/scratch-n-sniff/">Read more >></a></div>
    </div>
    <div class="col-lg-3">
      <h3>Moving on Up</h3>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</br>
      <div style="float:right;"><a class="btn btn-default btn-sm" href="http://greatwinenews.com/french-moving-to-oregon/">Read more >></a></div>
    </div>
    <div class="col-lg-3">
      <h3>California wines: China's latest crush?</h3>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</br>
      <div style="float:right;"><a class="btn btn-default btn-sm" href="http://money.cnn.com/2013/11/08/news/china-wine-tastes/">Read more >></a></div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <h3>10 Exceptional Thanksgiving Food and Wine Pairings </h3>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</br>
      <div style="float:right;"><a class="btn btn-default btn-sm" href="http://www.yumsugar.com/Thanksgiving-Food-Wine-Pairings-12189057">Read more >></a></div>
    </div>
    <div class="col-lg-3">
    </div>
    <div class="col-lg-3">
    </div>
    <div class="col-lg-3">
    </div>
  </div>

<!-- <h3>Latest News</h3>
 <hr>

 <table>
	<tr>
	<td style="padding-left:60px; font-weight:bold; font-size:20px; min-width:200px">
		Virginia is the latest hot wine destination 
</td>

<td style="padding-left:100px">
	Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
	<a href="http://www.nydailynews.com/life-style/virginia-latest-hot-wine-destination-article-1.1529646">Read more...</a>
	</td>
</tr>

<tr>
	<td style="padding-left:60px; font-weight:bold; font-size:20px; min-width:200px; padding-top:20px">
		Scratch 'N' Sniff 
</td>

<td style="padding-left:100px; padding-top:20px">
	Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
	<a href="http://greatwinenews.com/scratch-n-sniff/">Read more...</a>
	</td>
</tr>

<tr>
	<td style="padding-left:60px; font-weight:bold; font-size:20px; min-width:200px; padding-top:20px">
		Moving on Up 
</td>

<td style="padding-left:100px; padding-top:20px">
	Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
	<a href="http://greatwinenews.com/french-moving-to-oregon/">Read more...</a>
	</td>
</tr>

<tr>
	<td style="padding-left:60px; font-weight:bold; font-size:20px; min-width:200px; padding-top:20px">
		California wines: China's latest crush? 
</td>

<td style="padding-left:100px; padding-top:20px">
	Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
	<a href="http://money.cnn.com/2013/11/08/news/china-wine-tastes/">Read more...</a>
	</td>
</tr>

<tr>
	<td style="padding-left:60px; font-weight:bold; font-size:20px; min-width:200px; padding-top:20px; padding-bottom:70px">
		10 Exceptional Thanksgiving Food and Wine Pairings 
</td>

<td style="padding-left:100px; padding-top:20px; padding-bottom:70px">
	Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
	<a href="http://www.yumsugar.com/Thanksgiving-Food-Wine-Pairings-12189057">Read more...</a>
	</td>
</tr>
</table>
-->