<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3>Photo credits used on this site:</h3><br/>
        http://www.flickr.com/photos/tjoy7/7854957898<br/>
        http://www.flickr.com/photos/jillclardy/3827015740/in/photostream/<br/>
        http://www.flickr.com/photos/calca/124119876/in/photostream/<br/>
        http://www.flickr.com/photos/zagatbuzz/4368286800/sizes/q/in/photostream/<br/>
	http://www.flickr.com/photos/theuptownlife/2481346846/<br/>
	http://www.flickr.com/photos/anamnesiss/6960582500/<br/>
	http://www.flickr.com/photos/j-and-p/1270921596/<br/>
	http://www.flickr.com/photos/withwind/6851075398/<br/>
	http://www.flickr.com/photos/ladymissmarquise/5383384526/<br/>
	http://www.flickr.com/photos/edgeplot/3591672320/<br/>
	http://www.flickr.com/photos/30691679@N07/3993136157/<br/>
	http://www.flickr.com/photos/isante/5057195941/<br/>
	http://www.flickr.com/photos/umbrialovers/4244183670/<br/>
	http://www.flickr.com/photos/mattimattila/4870593591/<br/>
	http://www.flickr.com/photos/brianjmatis/4800524537/<br/>
	http://www.flickr.com/photos/greencolander/2113685131/<br/>
	http://www.flickr.com/photos/30691679@N07/4203678415/<br/>
	http://www.flickr.com/photos/brianjmatis/4183415627/<br/>
	http://www.flickr.com/photos/dcbauer/3485439452/<br/>
	http://www.flickr.com/photos/tato45/7417153262/<br/>
	http://www.flickr.com/photos/quintanaroo/2819297755<br/>
	http://www.flickr.com/photos/m_power/115186679<br/>
	http://www.flickr.com/photos/ampersandyslexia/5990843907<br/>
	http://www.flickr.com/photos/tmizo/6276559056<br/>
	http://www.flickr.com/photos/insideabritishmumskitchen/8175276708<br/>
	http://www.flickr.com/photos/tmizo/6276559056<br/>
	http://www.flickr.com/photos/prideandvegudice/3711150254<br/>
	http://www.flickr.com/photos/comedynose/3450563574<br/>
	http://www.flickr.com/photos/aemalkin/4216959780<br/>
	http://www.flickr.com/photos/twohungrydudes/5529094498<br/>
	http://www.flickr.com/photos/61808243@N06/5622175128/<br/>
	http://www.flickr.com/photos/61808243@N06/5622177746/<br/>
	http://www.flickr.com/photos/61808243@N06/5621588455/<br/>
	http://www.flickr.com/photos/61808243@N06/5622177052/<br/>
	http://www.flickr.com/photos/61808243@N06/5622176590/<br/>
	http://www.flickr.com/photos/61808243@N06/5621313247/<br/>
	http://www.flickr.com/photos/61808243@N06/5621312663/<br/>
	http://www.flickr.com/photos/61808243@N06/5621312819/<br/>
	http://www.flickr.com/photos/61808243@N06/5621899200/<br/>
	http://www.flickr.com/photos/61808243@N06/5621899740/<br/>
    </div>
  </div>
</div>