<!DOCTYPE html>
<html>
<head>
  <title>OneGlassIsNotEnough</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- BEGIN CONTAINER -->
	<div class ="container">
	<!-- Top banner/nav bar -->
	    <nav class="navbar navbar-inverse" role="navigation">
	        <a class="navbar-brand" href="/home">one isn't enough...</a>
	        <ul class="nav navbar-nav">
	            <li><a href="/wine">Wine</a></li>
	            <li><a href="">Brands</a></li>
	            <li><a href="">Community</a></li>
	            <li><a href="">Add-Ons</a></li>
	            <li><a href="/about">About</a></li>
	        </ul>
	    </nav>
		<%= yield %>

		<!--BEGIN FOOTER-->
		<div class="container">
			<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
				<ul class="nav navbar-nav">
		            <li><a href="/contact">Contact Us</a></li>
		            <li><a href="/help">Help</a></li>
		            <li><a href="/terms">Terms and Conditions</a></li>
		            <li><a href="/privacy">Privacy Policy</a></li>
	        	</ul>
			</nav>	
		</div>
		<!--END FOOTER-->
	</div>
	<!-- END CONTAINER -->
</body>
</html>
